.sec3bg1 {
  background: url(/src/assets/playvideobg.png);
  background-size: 95%;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: 10px;
  padding: 100px;
}

@media (max-width: 1100px) {
  .sec3bg1 {
    background: none;
    padding: 10px;
  }
}

@media (min-width: 1801px) and (max-width: 2200px) {
  .sec3bg1 {
    background-size: 89% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: 71px;
    padding: 165px;
  }
}

@media (min-width: 2201px) and (max-width: 2500px) {
  .sec3bg1 {
    background-size: 75% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: 251px;
    padding: 110px;
  }
}

@media (min-width: 2501px) and (max-width: 2900px) {
  .sec3bg1 {
    background-size: 61% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: 495px;
    padding: 100px;
  }
}

@media (min-width: 2901px) and (max-width: 3500px) {
  .sec3bg1 {
    background-size: 55% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: 675px;
    padding: 130px;
  }
}

@media (min-width: 3501px) and (max-width: 4500px) {
  .sec3bg1 {
    background-size: 50% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: 905px;
    padding: 150px;
  }
}
